.contact{
    position: relative;
    width: inherit;
    height: inherit;
    background-color: transparent;
}

.floating-contact-container{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    top: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.contact-detail{
    height: 350px;
    width: 350px;
}

.contact-detail-inner-container{
    margin-bottom: 20px;
}

.contact-detail-header{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(90deg, #8D7D4A 0.08%, #F2DEA0 1815.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0px;
}

.contact-detail-description{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--app-white);
    margin: 10px 0px; 
}

.contact-form{
    width: 350px;
    padding: 15px;
}

.contact-form-field{
    border:1px solid var(--app-light-gold);
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--input-primary-color);
    color: white;
    background: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.contact-form-button{
    cursor: pointer;
    border: none;
    outline: none;
    margin: 5px;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--app-white);
    background: linear-gradient(-90deg, #c4b06c 0.08%, #F2DEA0 1815.4%);
}

.contact-form-field:focus{
    background-color: white;
    color: black;
}